name: Test
on:
  push:
    branches-ignore:
      - 'develop'
      - 'master'
      - 'beta'
      - 'stable'

jobs:
  test_core:
    runs-on: ubuntu-18.04
    env:
      CERT_PATH: ${{ secrets.CERT_PATH }}
      GETH: ${{ secrets.GETH }}
      SERVER: ${{ secrets.SERVER }}
      TEST_ACCOUNT: ${{ secrets.TEST_ACCOUNT }}
      ETH_PRIVATE_KEY: ${{ secrets.ETH_PRIVATE_KEY }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install python dependencies
      run: |
        sudo apt-get update --fix-missing
        sudo apt-get install libudev-dev
        sudo apt-get install libusb-1.0-0-dev
        sudo apt-get install swig
        sudo apt-get install python3-dev
        pip install -e .
        pip install -e .[dev]
    - name: Lint with flake8
      run: |
        flake8 .
    - name: Run containers
      run: |
        export SGX_WALLET_TAG=1.83.0-develop.11
        bash scripts/run_sgx_simulator.sh
        mkdir $CERT_PATH
        docker run -d -p 8545:8545 --name ganache trufflesuite/ganache:beta --account="0x${{ secrets.ETH_PRIVATE_KEY }},100000000000000000000000000" -l 80000000 -b 0.01
        sleep 60
        docker ps -a 
        docker logs ganache --tail 500
    - name: Run tests
      run: |
        py.test tests/ --ignore tests/test_dkg.py
  test_dkg:
    runs-on: ubuntu-18.04
    env:
      CERT_PATH: ${{ secrets.CERT_PATH }}
      GETH: ${{ secrets.GETH }}
      SERVER: ${{ secrets.SERVER }}
      TEST_ACCOUNT: ${{ secrets.TEST_ACCOUNT }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install python dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libudev-dev
        sudo apt-get install libusb-1.0-0-dev
        sudo apt-get install swig
        sudo apt-get install python3-dev
        pip install -e .
        pip install -e .[dev]
    - name: Lint with flake8
      run: |
        flake8 .
    - name: Run containers
      run: |
        export SGX_WALLET_TAG=1.83.0-develop.11
        bash scripts/run_sgx_simulator.sh
        mkdir $CERT_PATH
        sleep 60
    - name: Run tests
      run: |
        pytest ./tests/test_dkg.py
